
<launch>
  <param name="/use_sim_time" value="true" />
  <node name="cartographer_offline_node" pkg="cartographer_ros"
      type="cartographer_offline_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basenames backpack_2d.lua
          -urdf_filenames $(find cartographer_ros)/urdf/backpack_2d.urdf
          -bag_filenames $(arg bag_filenames)"
      output="screen">
    <remap from="echoes" to="horizontal_laser_2d" />
  </node>
</launch>
